
h1{
    justify-content: center;
    font-family: 'Segoe UI', impact, Geneva, Verdana, sans-serif;
    font-size: 50px;
    padding-bottom: 5px;

}
footer a{
  color: black;
  font-weight: normal;
}
ul li {
    list-style: none;
    text-align: justify;
    color: black;
    font-weight: bolder;
    font-size: 25px;
}
.navbar {
    background-color: #ffd000;
    margin-bottom: 40px;
}    

.navbar-nav {
    flex-grow: 1;
    justify-content: space-around;
    background-color: #ffd000;
    border-color: #ffd000 ;
  }

/* Ici */

/* taille mobile */
.header-logo {
  width: 70%;
 
}

/* taille desktop */
@media screen and (min-width: 768px){
  .header-logo {
    width: 15%;
  }
  
  /* en px ou rem */
  h1{
    font-size: 120px;
  }
}
@media screen and (max-width: 768px){

 .noBlock{
    display: none;
  }}

